{% extends 'base.html' %}
{% block title %}Service List{% endblock %}
{%load static%}

{% block content %}

        <div id="page_wrapper" class="bg-white">
            <div class="container loo" style="margin-top:8px; margin-bottom:8px;">
                <div class="login_box">
                    <form method="post">
                        {% csrf_token %}
                    <h1 class="nn">Enter your email</h1>
                    <div class="input_box">
                        <input type="text" required="" name="email">
                        <label for="">Email</label>
                        <ion-icon class="icon_w " name="mail-outline"></ion-icon>
                    </div>
                    <div class="login">
                        <button name="submit" type="submit"><span style="color: white;">Send reset link</span></button>
                    </div>
                    </form>
                </div>
            </div>

            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


            <style>
                .loo {
                    width: 100%;
                    height: 100vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-image: url(https://wallpapers.com/images/featured/non-copyrighted-ia4f27yk6qnz364p.jpg);
                    background-size: cover;

                }

                .login_box {
                    background-color: white;
                    padding: 50px 20px;
                    width: 400px;
                    border-radius: 20px;
                    border: 1px solid #fff;
                    /* filter: blur(8px); */
                    backdrop-filter: blur(4px);
                }


                .nn {
                    text-align: center;
                    margin-bottom: 20px;
                    font-size: 40px;
                    color: black;
                }

                .input_box {
                    width: 90%;
                    margin: auto;
                    height: 40px;
                    position: relative;
                    margin-bottom: 20px;
                }

                .input_box input {
                    width: 100%;
                    height: 40px;
                    box-sizing: border-box;
                    outline: none;
                    border: none;
                    padding: 0px 20px;
                    background-color: transparent;
                    border-bottom: 1px solid black;
                    color: black;
                    font-size: 18px;
                }

                .input_box label {
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    transform: translateY(-50%);
                    font-size: 18px;
                    font-weight: 500;
                    color: black;
                    transition: .3s;
                }

                .icon_w {
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                    color: black;
                }

                .rem {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    font-size: 14px;
                }

                .rem input {
                    margin-right: 5px;
                }

                .rem a {
                    text-decoration: none;
                    margin-left: 5px;
                    color: white;
                    font-weight: bold;
                }

                .login {
                    display: flex;
                    justify-content: center;
                }

                .login button {
                    width: 200px;
                    height: 40px;
                    margin-top: 20px;
                    border-radius: 20px;
                    font-size: 18px;
                    font-weight: bold;
                    background-color: black;
                    border: none;
                    outline: none;
                    transition: .3s;
                }

                .reg {
                    display: flex;
                    justify-content: center;
                    margin-top: 17px;
                    font-size: 14px;
                    color: black;
                }

                .reg a {
                    text-decoration: none;
                    margin-left: 5px;
                    color: white;
                    font-weight: bold;
                    margin-top: 5px;
                }


                .input_box input:focus~label,
                .input_box input:valid~label {
                    top: 0;
                }


                .login button:hover {
                    cursor: pointer;
                    background-color: #f76d1d;
                    color: blue;
                    border: 1px solid black;
                }
            </style>


            <!--==================== Registration Form Start ====================-->

            <!--==================== Newslatter Section Start ====================-->
            <div class="full-row bg-secondary py-30">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="d-flex align-items-center h-100">
                                <h4 class="text-primary mb-0">Sign up to newslatter</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="d-flex align-items-center h-100">
                                <span class="text-white">.... and receive instant update</span>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12">
                            <form action="#" class="subscribe-form position-relative md-mt-20">
                                <input class="form-control rounded-pill mb-0 bg-white" type="text"
                                    placeholder="Enter your email" aria-label="Address">
                                <button class="btn btn-primary rounded-right-pill text-white"
                                    type="submit">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--==================== Newslatter Section End ====================-->

            <!--==================== Footer Section Start ====================-->
            <footer class="full-row bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="footer-widget mb-5">
                                <div class="footer-logo mb-4">
                                    <a href="#"><img src="assets/images/logo/logo-new.png" alt="Image not found!" /></a>
                                </div>
                                <div class="widget-ecommerce-contact">
                                    <span class="font-medium font-500 text-dark">Got Questions ? Call us 24/7!</span>
                                    <div class="text-dark h4 font-400 mt-2">(090) 8001-8588, (090) 874 548</div>
                                    <span class="h6 mt-5 text-secondary">Address :</span>
                                    <div class="text-general">Collins Street West, Victoria 8007, <br> Australia</div>
                                </div>
                            </div>
                            <div class="footer-widget media-widget mb-5">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget category-widget mb-5">
                                <h3 class="widget-title mb-4">Quick Links</h3>
                                <ul>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Investor Relations</a></li>
                                    <li><a href="#">We're hiring</a></li>
                                    <li><a href="#">Customer Care</a></li>
                                    <li><a href="#">Free Listing</a></li>
                                    <li><a href="#">What's New</a></li>
                                    <li><a href="#">Report a Bug</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget category-widget mb-5">
                                <h3 class="widget-title mb-4 xs-mx-none">&nbsp;</h3>
                                <ul>
                                    <li><a href="#">B2B Sitemap</a></li>
                                    <li><a href="#">Sitemap</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Media</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Store Directory</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="footer-widget widget-nav mb-5">
                                <h3 class="widget-title mb-4">Customer Support</h3>
                                <ul>
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Track your Order</a></li>
                                    <li><a href="#">Wishlist</a></li>
                                    <li><a href="#">Customer Service</a></li>
                                    <li><a href="#">Returns/Exchange</a></li>
                                    <li><a href="#">FAQs</a></li>
                                    <li><a href="#">Product Support</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!--==================== Footer Section End ====================-->

            <!--==================== Copyright Section Start ====================-->
            <div class="full-row copyright bg-white py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="sm-mb-10 d-block">© 2021 BigBazar All right reserved</span>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-ml-30 d-flex align-items-center justify-content-md-end">
                                <li>
                                    <a href="#"><img src="assets/images/cards/1.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="assets/images/cards/2.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="assets/images/cards/3.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="assets/images/cards/4.png" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--==================== Copyright Section End ====================-->

            <!-- Scroll to top -->
            <a href="#" class="bg-primary text-white" id="scroll"><i class="fa fa-angle-up"></i></a>
            <!-- End Scroll To top -->



        </div>
{%endblock%}